.main-content {
  /* background-color: var(--background); */
  background: linear-gradient(180deg, #291c4a 0%, #080611 100%);
  min-height: 88vh;
  padding: 0.6rem 1.4rem;
}
.ant-layout-header {
  background-color: var(--background) !important;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 6;
  padding: 0 30px;
}

.v-layout {
  display: block;
}
.m-layout {
  display: none;

}
.mainFooter {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-top: 1px solid #6e6980;
  /* background: */
}

.ant-drawer-body {
  background-color: var(--sidebar) !important;
}

@media (max-width: 800px) {
  .v-layout {
    display: none;
  }
  .m-layout {
    display: block;
    background: var(--backgroundGradient1);
    /* padding: 0.6rem 1.4rem; */
  }
}
