.sidebar_menu {
  background: #140f26;
  height: 65vh;
  padding-inline: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  gap: 10px;
}
.sidebar_menu .sidebar_menu_item {
  width: 70px;
  height: 70px;
  border: 1px solid transparent;
  background-color: var(--primaryPurple);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.sidebar_menu .sidebar_menu_item:hover {
  border: 1px solid var(--primary) !important;
}
.sidebar_menu .sidebar_menu_item p {
  line-height: 1.2;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
}
.sidebar_menu .sidebar_menu_item svg {
  font-size: 30px;
  color: var(--text);
}
.sidebar_menu .activeRoute {
  border: 1px solid var(--primary);
}
