.american-football-banner {
  margin-top: 48px;
  width: 100%;
  height: auto;
  position: relative;
}
.american-football-banner img {
  width: 100%;
  height: auto;
}

.american-football-banner .content_wrapper {
  position: absolute;
  bottom: 4vw;
  left: 3.4vw;
}
.american-football-banner .content_wrapper .left h1 {
  color: var(--text);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.american-football-banner .content_wrapper .left p {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 370px;
}

.american-football-banner .play_now_text {
  position: absolute;
  color: var(--primary);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 28px;
  bottom: 6.2vw;
  left: 26.4vw;
}
