.depth_card_box {
  width: 180px;
  height: 260px;
  border-radius: 10px;
  border: 1px solid var(--border);
  cursor: pointer;
  position: absolute;
}

.depth_card_box .image_box {
  width: 100%;
  height: 184px;
  background-color: var(--primaryPurple);
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 10px 0px 0px;
}
.depth_card_box .image_box img {
  width: 100%;
  height: auto;
}

.depth_card_box .name {
  width: 100%;
  background-color: #30215d;
  padding-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth_card_box .name p {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.depth_card_box .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth_card_box .text h2 {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 0px 6px 0px;
}

/* -------------------------------------- */
.new_depth_card_box {
  width: 143px;
  height: 200px;
  border-radius: 30px;
  /* cursor: pointer; */
  position: absolute;
}
.new_depth_card_box .wrapper {
  width: 143px;
  height: 200px;
  border-radius: 30px;
  /* cursor: pointer; */
  position: relative;
}
.new_depth_card_box .wrapper .card_bg_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 200px;
}
.new_depth_card_box .wrapper .image_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 120px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 5;
}
.new_depth_card_box .wrapper .image_box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.new_depth_card_box .wrapper .player_name {
  width: 100%;
  position: absolute;
  top: 141px;
  padding-left: 20px;
}
.new_depth_card_box .wrapper .player_name h2 {
  font-size: 11px;
  width: 100px;
  overflow: hidden;
  height: 13px;
}
.new_depth_card_box .wrapper .opponent_text,
.new_depth_card_box .wrapper .team_text,
.new_depth_card_box .wrapper .injury_text {
  position: absolute;
  top: 160px;
  font-size: 11px;
  width: 25px;
  overflow: hidden;
  height: 13px;
  font-weight: 500;
}
.new_depth_card_box .wrapper .opponent_text {
  left: 25px;
}
.new_depth_card_box .wrapper .team_text {
  left: 53px;
}
.new_depth_card_box .wrapper .injury_text {
  left: 85px;
}

/* DEFENSE */
.defense_s {
  top: 100px !important;
  left: 1300px !important;
}
.defense_cbs {
  top: 100px !important;
  left: 550px !important;
}
.defense_lb-1 {
  top: 200px !important;
  left: 730px !important;
}
.defense_lb-2 {
  top: 200px !important;
  left: 900px !important;
}
.defense_lbcbs {
  top: 200px !important;
  left: 1070px !important;
}
.defense_cb-1 {
  top: 380px !important;
  left: 400px !important;
}
.defense_cb-2 {
  top: 380px !important;
  left: 1440px !important;
}
.defense_de {
  top: 440px !important;
  left: 640px !important;
}
.defense_dt {
  top: 440px !important;
  left: 815px !important;
}
.defense_dtde {
  top: 440px !important;
  left: 990px !important;
}
.defense_dtlb {
  top: 440px !important;
  left: 1165px !important;
}

/* OFFENSE */
.offense_te {
  top: 280px !important;
  left: 1300px !important;
}
.offense_ol-1 {
  top: 270px !important;
  left: 600px !important;
}
.offense_ol-2 {
  top: 265px !important;
  left: 740px !important;
}
.offense_ol-3 {
  top: 260px !important;
  left: 880px !important;
}
.offense_ol-4 {
  top: 265px !important;
  left: 1020px !important;
}
.offense_ol-5 {
  top: 270px !important;
  left: 1160px !important;
}
.offense_wr-1 {
  top: 270px !important;
  left: 330px !important;
}
.offense_rbwrte {
  top: 390px !important;
  left: 460px !important;
}
.offense_qb-1 {
  top: 430px !important;
  left: 880px !important;
}
.offense_rb {
  top: 435px !important;
  left: 680px !important;
}
.offense_wr-2 {
  top: 320px !important;
  left: 1470px !important;
}
.offense_qb-2 {
  top: 20px !important;
  left: 260px !important;
}

/* SPECIAL TEAM */
.special_team_pk {
  top: 200px;
  left: 150px;
}
.special_team_pn {
  top: 380px;
  left: 50px;
}

.depth_card_player_locked {
  z-index: 999 !important;
  width: 143px;
  height: 200px;
  /* border: 1px solid var(--border); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 3px;
}
