.depth_card_box {
  width: 180px;
  height: 260px;
  border-radius: 10px;
  border: 1px solid var(--border);
  cursor: pointer;
  position: absolute;
}

.depth_card_box .image_box {
  width: 100%;
  height: 184px;
  background-color: var(--primaryPurple);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}
.depth_card_box .image_box img {
  width: 100%;
  height: auto;
}

.depth_card_box .name {
  width: 100%;
  background-color: #30215d;
  padding-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth_card_box .name p {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.depth_card_box .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth_card_box .text h2 {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 0px 6px 0px;
}

/* DEFENSE */
.defense_s {
  top: 0px !important;
  left: 1160px !important;
}
.defense_cbs {
  top: 220px !important;
  left: 156px !important;
}
.defense_lb-1 {
  top: 260px !important;
  left: 390px !important;
}
.defense_lb-2 {
  top: 260px !important;
  left: 680px !important;
}
.defense_lbcbs {
  top: 260px !important;
  left: 610px !important;
}
.defense_lbcbs {
  top: 260px !important;
  left: 920px !important;
}
.defense_cb-1 {
  top: 580px !important;
  left: 0px !important;
}
.defense_cb-2 {
  top: 650px !important;
  left: 1350px !important;
}
.defense_de {
  top: 650px !important;
  left: 290px !important;
}
.defense_dt {
  top: 650px !important;
  left: 520px !important;
}
.defense_dtde {
  top: 650px !important;
  left: 755px !important;
}
.defense_dtlb {
  top: 650px !important;
  left: 1005px !important;
}

/* OFFENSE */
.offense_te {
  top: 0 !important;
  left: 150px !important;
}
.offense_ol-1 {
  top: 0 !important;
  left: 350px !important;
}
.offense_ol-2 {
  top: 0 !important;
  left: 550px !important;
}
.offense_ol-3 {
  top: 0 !important;
  left: 750px !important;
}
.offense_ol-4 {
  top: 0 !important;
  left: 950px !important;
}
.offense_ol-5 {
  top: 0 !important;
  left: 1150px !important;
}
.offense_wr-1 {
  top: 300px !important;
  left: 0px !important;
}
.offense_rbwrte {
  top: 300px !important;
  left: 290px !important;
}
.offense_qb-1 {
  top: 300px !important;
  left: 760px !important;
}
.offense_rb {
  top: 300px !important;
  left: 970px !important;
}
.offense_wr-2 {
  top: 300px !important;
  left: 1420px !important;
}
.offense_qb-2 {
  top: 560px !important;
  left: 760px !important;
}

/* SPECIAL TEAM */
.special_team_pk {
  top: 0;
  left: 550px;
}
.special_team_pn {
  top: 0;
  left: 870px;
}
