.feedback-card {
  position: relative;
  border-radius: 16px;
  width: 100%;
  min-height: 250px;
  padding: 30px 0px 37px 30px;
}
.feedback-card p {
  color: #fff;
  font-size: 15px;
  padding: 20px 20px 20px 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background: var(--primaryPurple);
  border-radius: 16px;
  height: 250px;
  overflow-y: auto;
}
.feedback-card p span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.feedback-card .avatar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid #605583;
}
