.empty_header {
  width: 100%;
  height: 245px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--secondaryPurple);
  border: 1px solid #6e6980;
}

.gd-header {
  width: 100%;
  /* min-height: 250px; */
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--secondaryPurple);
  border: 1px solid #6e6980;
  overflow: auto;
}

/* LEFT */
.gd-header .left {
  width: 170px !important;
  text-align: center;
}
.gd-header .left .image_div {
  /* border: 1px solid #6e6980; */
  margin-bottom: 10px;
  border-radius: 8px;
  min-height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gd-header .left p > span {
  color: var(--lightGrayText);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* CENTER */
.gd-header .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gd-header .center .title_box {
  min-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border: 1px solid #6e6980;
  border-radius: 8px;
  gap: 10px;
  flex-wrap: wrap;
}
.gd-header .center .title_box h1 {
  color: var(--text);
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.gd-header .center .title_box p {
  cursor: pointer;
}
.gd-header .center .title_box p > span {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: var(--lightGrayText);
}

.gd-header .center .button_and_team_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.gd-header .center .button_and_team_box .button_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gd-header .center .button_and_team_box .button_box div {
  background-color: transparent !important;
  border: 1px solid #6e6980;
  border-radius: 8px;
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  height: 45px;
  width: 20vw;
  min-width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
  padding-inline: 20px;
}

.gd-header .center .button_and_team_box .team_financials_box {
  display: flex;
  flex-direction: column;
  border: 1px solid #6e6980;
  border-radius: 8px;
  flex: 1;
  padding: 10px 20px;
  gap: 10px;
}



.gd-header .center .button_and_team_box .team_financials_box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gd-header .center .button_and_team_box .team_financials_box div h4 {
  color: var(--primary) !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.gd-header .center .button_and_team_box .team_financials_box div p {
  color: var(--text);
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.5;
}
.gd-header .center .button_and_team_box .team_financials_box div span {
  color: var(--text);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 1;
}

.gd-header .center .button_and_team_box .leaguepointswallet {

  display: flex;
  flex-direction: column;
  border: 1px solid #6e6980;
  border-radius: 8px;
  flex: 1;
  padding: 10px 20px;
  gap: 10px;
}


.gd-header .center .button_and_team_box .leaguepointswallet  h4 {
  color: var(--text);
  font-size: 25px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.gd-header .center .button_and_team_box .leaguepointswallet .leaguediff {
  display: flex;
  justify-content: space-between;
}
 
.gd-header .center .button_and_team_box .leaguepointswallet .leaguediff .leaguedifflex{
  display: flex;
  gap:5px
}


.gd-header .center .button_and_team_box .leaguepointswallet .leaguediff .leaguedifflex  .leaguemoney {
  color: var(--primary) !important;
  color:rgb(140, 82, 255);
  text-align: left;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-top: 5px;
}
.gd-header .center .button_and_team_box .leaguepointswallet .leaguediff .addmore {
  width: 114px !important;
font-size: 14px !important;
padding: 5px 22px 5px 22px !important;
background-color: blueviolet !important;
border-color: blueviolet !important;


}



.gd-header .center .button_and_team_box .leaguepointswallet .leaguediff .leaguedifflex .imgdiv {
  width: 30px;
}

.gd-header .center .button_and_team_box .leaguepointswallet  h4 span {
  color: var(--text);
  font-size: 25px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.gd-header .right {
  width: 285px;
  text-align: center;
}
.gd-header .right h1 {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: right;
  margin-top: 16px;
}
.gd-header .right .content {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 30px;
  border: 1px solid #6e6980;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.gd-header .right .content .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-left: 42px;
}
.gd-header .right .content span {
  color: var(--text) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  
  
}
.gd-header .right .content p {
  color: var(--text);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  justify-content: right;
  /* opacity: 0.5; */
}


.gd-header .right .content .money {
  color: var(--text);
  text-align: left;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  opacity: 0.5;
  margin-top: 10px;
}


.gd-header .right .content .content2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.gd-header .right .content .content2 .image_div {
  width: 120px;
}

.gd-header .right .content .content2 .image_div .ant-image .ant-image-img {
 margin-top: 53px !important;
}



.gd-header .right .content .content2 .content3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.gd-header .right .content .content2 .content3 .updatebtn {
  width: 100% !important;
  margin-left: 12px;
  margin-top: -15px;
}

.gd-header .right .content .content2 .content3 .buymore {
  width: 95% !important;
  font-size: 5px !important;
  padding: 5px 22px 5px 22px !important;
  background-color: blueviolet !important;
  border-color: blueviolet !important;
  margin-top: 10px !important;
  height: auto !important;
  /* position: relative;
  left: 52%; */
}


/* .gd-header .right .content span {
  font-size: 20px !important;
} */


@media (max-width: 1600px) {
  .gd-header .center .button_and_team_box .button_box div {
    width: 220px;
    min-width: 220px;
  }
}
@media (max-width: 1450px) {
  .gd-header .center .button_and_team_box {
    flex-direction: column;
  }
  .gd-header .center .button_and_team_box .button_box {
    width: 100%;
  }
  .gd-header .center .button_and_team_box .button_box div {
    width: 0vw !important;
    width: 100% !important;
    min-width: 160px;
  }
  .gd-header .center .button_and_team_box .team_financials_box {
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .gd-header .center .button_and_team_box .button_box div {
    width: 100%;
  }
  /* .gd-header .center .button_and_team_box {
    flex-direction: column;
  } */
}
@media (max-width: 1200px) {
  .gd-header {
    flex-direction: column;
    align-items: center;
  }
  .gd-header .center {
    width: 100%;
  }
  .gd-header .center .button_and_team_box {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .gd-header .center .button_and_team_box {
    flex-direction: column;
  }
  .gd-header .center .button_and_team_box .button_box {
    width: 100%;
  }
  .gd-header .center .button_and_team_box .button_box div {
    width: 0vw !important;
    width: 100% !important;
    min-width: 160px;
  }
  .gd-header .center .title_box h1 {
    font-size: 22px;
  }
  .gd-header .center .button_and_team_box .team_financials_box {
    width: 100%;
  }
}
