.home_main_banner_new {
  width: 100%;
  background: url('../../assets/rectangle-3.png'), #30215d 50% / cover no-repeat;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  /* gap: 30px; */
}

.home_main_banner_new .banner_wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home_main_banner_new .banner_wrapper .banner_content {
  width: 480px;
  padding: 30px 20px !important;
}
.home_main_banner_new .banner_wrapper .banner_content h3 {
  color: var(--colors-theme-white-color, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.home_main_banner_new .banner_wrapper .banner_content h1 {
  color: var(--colors-theme-white-color, #fff);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.home_main_banner_new .banner_wrapper .banner_content p {
  color: var(--colors-theme-white-color, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 200% */
}
.home_main_banner_new .banner_wrapper .banner_content button {
  border-radius: 20px;
  padding: 5px 28px;
  margin-top: 34px;
}
.home_main_banner_new .banner_wrapper .banner_content button:hover {
  border: 2px solid var(--primary) !important;
  background-color: rgba(8, 6, 17, 0.5) !important;
}

.home_main_banner_new .image_div {
  width: 600px;
  height: 100%;
  margin-top: -30px;
}
.home_main_banner_new .image_div .main_banner_image {
  width: 90%;
  height: auto;
}

@media (max-width: 1200px) {
  .home_main_banner_new .image_div {
    display: none;
  }
}
@media (max-width: 530px) {
  .home_main_banner_new .banner_wrapper .banner_content {
    width: 100%;
    padding: 40px 30px;
  }
  .home_main_banner_new .banner_wrapper .banner_content h1 {
    font-size: 26px;
  }
}
