.home-main-banner {
  border-radius: 16px;
  background: url('../../assets/rectangle-3.png'), #30215d 50% / cover no-repeat;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  padding: 88px 10px 0 88px;
  min-height: 450px;
  /* background-size: 100% 100; */
  /* background-size: 100% 100%; */
background-size:cover;
  width: 100%;
}

.home-main-banner .banner-content {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-right: 10px;
}

.home-main-banner .banner-content h3 {
  color: var(--colors-theme-white-color, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.home-main-banner .banner-content h1 {
  color: var(--colors-theme-white-color, #fff);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.home-main-banner .banner-content p {
  color: var(--colors-theme-white-color, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 200% */
}

.home-main-banner button {
  border-radius: 20px;
  padding: 5px 28px;
}

.image-div {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-banner-image {
  position: absolute;
  top: -80px;
  bottom: 0;
  right: -50px;
  width: auto;
  height: 100%;
  /* scale: 1.25; */
  z-index: 9999;
  object-fit: contain;
}
