.custom_pagination_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.custom_pagination_box h2 {
  color: var(--text);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.custom_pagination_box ul li {
  border: 1px solid #64748B !important;
}
.custom_pagination_box .ant-pagination-next button,
.custom_pagination_box .ant-pagination-prev button {
  color: #64748B !important;
  border: none;
  font-size: 15px;
}
.custom_pagination_box .ant-pagination-next button:hover,
.custom_pagination_box .ant-pagination-prev button:hover {
  color: var(--primary) !important;
}

.custom_pagination_box .ant-pagination-next:hover,
.custom_pagination_box .ant-pagination-prev:hover {
  border-color: #fff !important;
}

.custom_pagination_box .ant-pagination-item a {
  color: #64748B !important;
}
.custom_pagination_box .ant-pagination-item-active {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}
.custom_pagination_box .ant-pagination-item-active a {
  color: var(--text) !important;
}
.custom_pagination_box .ant-pagination-item-ellipsis {
  color: #64748B !important;
  font-size: 10px;
}

/* ------------------------------------------------------ */
/* HEADING AND PAGINATION */
.heading_and_week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.heading_and_week > h2 {
  font-size: 28px;
}

.auctionforpicklefttime {
  background-color: aqua;
font-size: 20px;
justify-content: left;
width: max-content;
}

.auctionforpicklefttime .timeleft {

font-size: 18px;
justify-content: left;
font-weight: 400;
font-style: italic;
width: max-content;
}

.auctionforpicklefttime .timelefttext {
 
font-size: 18px;
font-weight: 700;
justify-content: left;
width: max-content;
color:rgb(255, 222, 89);
}


/* You are viewing previous week data in view only mode */
.locked_box {
  display: flex;
  padding: 20px 30px 0px 30px;
  align-items: center;
  justify-content: center;
}
.locked_box p {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--primary) !important;
}
