.player_ranking_box {
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--border);
}

.player_ranking_box header {
  width: 100%;
  background-color: var(--primaryPurple);
  border-radius: 16px 16px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 11px 17px;
}
.player_ranking_box header h3 {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.player_ranking_box header p {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.player_ranking_box .player_ranking_body {
  padding: 21px 17px 21px 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* max-height: 516px; */
  overflow-y: auto;
}

.player_ranking_box .player_ranking_body .card_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.player_ranking_box .player_ranking_body .card_box h6 {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.5;
}
.player_ranking_box .player_ranking_body .card_box .team_image_box {
  height: 50px;
  width: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130%;
}
.player_ranking_box .player_ranking_body .card_box .image_box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.player_ranking_box .player_ranking_body .card_box img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.player_ranking_box .player_ranking_body .card_box h3 {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  flex: 1;

  text-align: center;
}
.player_ranking_box .player_ranking_body .card_box .player_score_box {
  height: 50px;
  min-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.player_ranking_box .player_ranking_body .card_box .player_score_box p {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .player_ranking_box .player_ranking_body .card_box {
    flex-wrap: wrap;
  }
  .player_ranking_box .player_ranking_body .card_box h3 {
    min-width: 150px;
  }
  .player_ranking_box header {
    flex-wrap: wrap;
    gap: 0px;
  }
  .player_ranking_box header h3 {
    font-size: 13px;
  }
  .player_ranking_box header p {
    font-size: 12px;
  }
}
