.news_header_top {
  width: 100%;
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primaryPurple);
}
.news_header_top h1 {
  font-size: 4vw;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  font-style: italic;
}
.news_header_top > div {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
}
.news_header_top > div p {
  color: var(--primaryPurple) !important;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.rolling_news_feed {
  width: 100%;
  /* border-radius: 16px; */
  border-radius: 0px 0px 16px 16px;

  border: 1px solid var(--border);
}

.rolling_news_feed header {
  width: 100%;
  background-color: var(--primaryPurple);
  /* border-radius: 16px 16px 0px 0px; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 11px 17px;
}
.rolling_news_feed header h3 {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.rolling_news_feed header p {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.rolling_news_feed .content_body {
  padding: 19px 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* max-height: 463px; */
  overflow-y: auto;
}

.rolling_news_feed .content_body .card_box {
  width: 100%;
  border: 1px solid var(--border);
}
.rolling_news_feed .content_body .card_box .card_box_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary);
  padding: 8px 12px;
  background-color: var(--primaryPurple);
}
.rolling_news_feed .content_body .card_box .card_box_header p {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.rolling_news_feed .content_body .card_box .card_box_header svg {
  cursor: pointer;
}

.rolling_news_feed .content_body .card_box .news_feed_share {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--border);
  gap: 10px;
}
.rolling_news_feed .content_body .card_box .news_feed_share .left_side {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.rolling_news_feed .content_body .card_box .news_feed_share .left_side img {
  cursor: pointer;
}
.rolling_news_feed .content_body .card_box .news_feed_share .left_side h6 {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rolling_news_feed .content_body .card_box .news_feed_share p {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.rolling_news_feed .content_body .card_box .news {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
  padding: 12px;
}

.rolling_news_feed .content_body .card_box .source {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.rolling_news_feed .content_body .card_box .source p {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.rolling_news_feed .content_body .card_box .source span {
  color: var(--primary);
}

@media (max-width: 768px) {
  .rolling_news_feed header {
    flex-wrap: wrap;
    gap: 0px;
  }
  .rolling_news_feed header h3 {
    font-size: 13px;
  }
  .rolling_news_feed header p {
    font-size: 12px;
  }
  .rolling_news_feed .content_body .card_box .news_feed_share {
    flex-wrap: wrap;
  }
  .rolling_news_feed .content_body .card_box .source {
    flex-wrap: wrap;
  }
  .rolling_news_feed .content_body .card_box .source p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .news_header_top h1 {
    font-size: 32px;
  }
}
