.sc-player {
  width: calc((100% - 24px) / 2);
}
.sc-player .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-player .top .left {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
}
.sc-player .top .left .player-img {
  margin-bottom: -16px;
}
.sc-player .top .position {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 22px; */
  opacity: 0.5;
}
.sc-player .top .name,
.score {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 22px; */
}
.sc-player .bottom {
  display: flex;
  flex-direction: column;
  column-gap: 14px;
  background-color: #30215d66;
  border: 1px solid #6e698066;
  border-radius: 16px;
}
.sc-player .bottom div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-player .bottom .decimal,
.time {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}
.sc-player .bottom .handle {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .sc-player {
    width: 100%;
  }
  .sc-player .top {
    padding-inline: 12px !important;
  }
  .sc-player .bottom {
    padding-inline: 12px !important;
  }
}
