.sports_button_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.sports_button_menu h2 {
  margin-right: 8px;
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.sports_button_menu .button_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
