.standing_header_container {
  width: 100%;
}
.standing_header_container h1 {
  color: var(--text);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.standing_header_container .button_container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.standing_header_container .button_container button {
  color: var(--primary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 20px;
  border: 1px solid var(--primary);
  background: var(--text);
  height: 50px;
  width: 150px;
}
.standing_header_container .button_container button:hover {
  border: 2px solid var(--primary) !important;
  background-color: transparent !important;
}
.standing_header_container .button_container .active_button {
  background: var(--primary);
  color: var(--text);
}

.standing_header_container .pagination_box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1440px) {
  .standing_header_container .button_container button {
    height: 40px;
    width: 125px;
  }
}
@media (max-width: 768px) {
  .standing_header_container h1 {
    font-size: 26px;
    line-height: 1.5;
    text-align: center;
  }
  .standing_header_container .button_container {
    gap: 10px;
  }
  .standing_header_container .button_container button {
    height: 35px;
    width: 125px;
  }
}
