.depth_chart_container {
  width: 100%;
}

.depth_chart_container .breadcrumb {
  margin-bottom: 30px;
}

.depth_chart_container .buttons_and_pagination {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
}

.depth_chart_container .buttons_and_pagination .buttons_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.depth_chart_container .buttons_and_pagination .buttons_group button {
  padding: 10px 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 2px solid var(--primary);
}
.depth_chart_container .buttons_and_pagination .buttons_group button:hover {
  background-color: transparent !important;
}

.depth_chart_container .depth_chart_wrapper {
  overflow: auto;
  display: flex;
  justify-content: center;
}
.depth_chart_container .depth_chart_wrapper .depth_chart_cards {
  width: 1600px;
  position: relative;
}

.depth_chart_container .depth_chart_wrapper .offence_container {
  height: 600px;
}
.depth_chart_container .depth_chart_wrapper .defence_container {
  height: 930px;
}
.depth_chart_container .depth_chart_wrapper .special_team_container {
  height: 400px;
}
