.depth_chart_container {
  width: 100%;
}

.depth_chart_container .depth_chart_wrapper {
  overflow: auto;
  display: flex;
  justify-content: center;
}
.depth_chart_container .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
  gap: 25px;
}
.depth_chart_container .overlay h2 {
  color: var(--primary) !important;
  font-size: 30px;
  text-align: center;
}
.depth_chart_container .overlay h4 {
  color: var(--primary) !important;
  font-size: 20px;
  text-align: center;
}
.depth_chart_container .depth_chart_wrapper .depth_chart_cards {
  width: 1600px;
  height: 850px;
  position: relative;
}

.depth_chart_container .depth_chart_wrapper .offense_container {
  height: 850px;
  position: relative;
}
.depth_chart_container .depth_chart_wrapper .offense_container > img {
  height: 850px;
  width: 1600px;
  position: absolute;
}
.depth_chart_container .depth_chart_wrapper .defense_container {
  height: 850px;
}
.depth_chart_container .depth_chart_wrapper .special_team_container {
  height: 400px;
}

.clear_button_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.clear_button_box button {
  text-transform: uppercase;
}

.depth_chart_container .filter_chart_box {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  /* margin-top: -35px; */
}
.depth_chart_container .filter_chart_box button {
  padding: 10px 28px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  border: 1px solid var(--border) !important;
  background-color: transparent !important;
  text-transform: uppercase;
  border-radius: 0px;
}
.depth_chart_container .filter_chart_box button:hover {
  background-color: var(--primary) !important;
}
.depth_chart_container .filter_chart_box .active_filter {
  background-color: var(--primary) !important;
}

/* @media (max-width: 1430px) {
  .depth_chart_container .filter_chart_box {
    margin-top: 20px;
  }
} */

@media (max-width: 600px) {
  .depth_chart_container .filter_chart_box button {
    padding: 10px 10px;
    flex: 1;
  }
}
