.fantasy_league_container {
  width: 100%;
}

.fantasy_league_container .header_top_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.fantasy_league_container .header_top_section h2 {
  margin-right: 8px;
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.fantasy_league_container .button_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

