.game_details {
  width: 100%;
}

.game_details .gd-scroll {
  width: 100%;
  overflow: auto;
  margin-top: 10px 20px;
  background-color: #1e1436;
}
.game_details .gd_body {
  min-width: 1450px;
  max-height: 1000px;
  padding: 30px;
  background-color: #1e1436;
}

/* GAME HEADER */
.game_details .game_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.game_details .game_header .gh_left,
.game_details .game_header .gh_right {
  flex: 1;
  min-height: 200px;
  position: relative;
}
.game_details .game_header .gh_left .played_text {
  position: absolute;
  bottom: 0;
  left: 355px;
  font-weight: 500;
  font-size: 14px;
}
.game_details .game_header .gh_right .played_text {
  position: absolute;
  bottom: 0;
  right: 355px;
  font-weight: 500;
  font-size: 14px;
}
.game_details .game_header .gh_center {
  padding: 0px 30px 30px 30px;
}
.game_details .game_header .gh_center .vs_box {
  width: 110px;
  height: auto;
  position: relative;
}
.game_details .game_header .gh_center .vs_box img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.game_details .game_header .gh_center .vs_box .vs_text {
  font-size: 45px;
  font-weight: 900;
  position: absolute;
  color: #1e1436;
  z-index: 999;
  left: 27px;
  top: 15px;
  letter-spacing: -1px;
}

.game_details .game_header .gh_left .bg_left,
.game_details .game_header .gh_right .bg_right {
  height: 200px;
  width: 350px;
  background: var(--secondaryPurple);
  border: 1px solid var(--border);
}
.game_details .game_header .gh_left .bg_left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 64% 0, 100% 100%, 100% 100%, 0% 100%);
}
.game_details .game_header .gh_left .wrapper,
.game_details .game_header .gh_right .wrapper {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0px !important;
}
.game_details .game_header .gh_right .wrapper {
  flex-direction: row-reverse !important;
}

.game_details .game_header .wrapper .stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 130px;
  margin-top: 5px;
}
.game_details .game_header .gh_right .wrapper .stats p {
  text-align: right !important;
}
.game_details .game_header .wrapper .stats .points_text {
  font-size: 26px;
  font-style: italic;
}
.game_details .game_header .wrapper .stats .text1 {
  font-size: 18px;
  opacity: 0.7;
  font-weight: 500;
}
.game_details .game_header .wrapper .stats .text2 {
  font-size: 18px;
  opacity: 0.5;
  font-style: italic;
}
.game_details .game_header .wrapper .stats .text3 {
  font-size: 18px;
  opacity: 0.6;
  font-size: 16px;
}

.game_details .game_header .wrapper .logo_box {
  height: 100%;
  width: 140px;
  padding-bottom: 20px;
}
.game_details .game_header .wrapper .logo_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game_details .game_header .wrapper .name_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-left: 10px;
}
.game_details .game_header .wrapper .name_box p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}
.game_details .game_header .wrapper .name_box p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 4px;
}

.game_details .game_header .wrapper .points_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
}
.game_details .game_header .wrapper .points_box p:nth-child(1) {
  font-size: 44px;
  font-weight: 700;
  font-style: italic;
  transform: scaleY(2);
  text-shadow: -1px 7px 2px rgba(0, 0, 0, 0.6);
  text-align: right;
  opacity: 0.8;
}
.game_details .game_header .wrapper .points_box p:nth-child(2) {
  font-size: 18px;
  text-align: right;
  margin-top: 20px;
}
.game_details .game_header .gh_right .wrapper .points_box p:nth-child(1) {
  text-align: left;
}
.game_details .game_header .gh_right .wrapper .points_box p:nth-child(2) {
  text-align: left;
}

.game_details .game_header .gh_right .bg_right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(34% 0, 100% 0, 100% 100%, 100% 100%, 0% 100%);
}
.game_details .game_header .gh_right .wrapper {
  z-index: 999;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.game_details .game_header .green {
  color: #7ed957 !important;
}
.game_details .game_header .red {
  color: #ff3131 !important;
}

.game_details .heading_box_top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.game_details .heading_box_top h2 {
  font-size: 22px;
  font-weight: 700;
}

/* CARD BOX ROW */
/* ----------------------------------------------------- */
.game_details .gd_card_box {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.game_details .gd_card_box .gdc_left {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.game_details .gd_card_box .gdc_right {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}

.game_details .gd_card_box .gdc_content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primaryPurple);
  clip-path: polygon(0 0, 77% 0, 100% 100%, 0% 100%);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 0px 10px;
  gap: 10px;
}
.game_details .gd_card_box .gdc_right .gdc_content {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--primaryPurple);
  clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 0px 10px;
  gap: 10px;
}
.game_details .gd_card_box .gdc_content .p_img_box {
  width: 50px;
  height: 50px;
  /* margin-top: -20px; */
}
.game_details .gd_card_box .gdc_content .p_img_box img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.game_details .gd_card_box .gdc_content .name_box {
  flex: 1;
}
.game_details .gd_card_box .gdc_content .name_box > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.game_details .gd_card_box .gdc_right .gdc_content .name_box {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.game_details .gd_card_box .gdc_right .gdc_content .name_box > div {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}
.game_details .gd_card_box .gdc_content .name_box > div p {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.9;
}
.game_details .gd_card_box .gdc_content .name_box > div span {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 500;
  opacity: 0.6;
  /* margin-top: 3px; */
}
.game_details .gd_card_box .gdc_content .name_box > p {
  font-size: 11px;
  color: #0cd9f5 !important;
  font-weight: 500;
  margin-top: 2px;
}

.game_details .gd_card_box .gdc_content .breakdown_box {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-block: 10px;
}
.game_details .gd_card_box .gdc_content .breakdown_box p {
  margin-right: 60px;
  opacity: 0.6;
  cursor: pointer;
}
.game_details .gd_card_box .gdc_right .gdc_content .breakdown_box p {
  margin-left: 60px;
  margin-right: 0px !important;
  opacity: 0.6;
  cursor: pointer;
}

.game_details .gd_card_box .gdc_points {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game_details .gd_card_box .gdc_points p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  transform: scaleY(1.5);
  text-shadow: -1px 5px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.9;
}

.game_details .gd_card_box .position-circle {
  width: 50px;
  height: 50px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #6e698066;
  background-color: #30215d;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.gd_score_box {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
}
.gd_score_box .gdsb_left,
.gd_score_box .gdsb_right {
  flex: 1;
  display: flex;
  align-items: center;
}
.gd_score_box .gdsb_left {
  justify-content: flex-end;
}
.gd_score_box .gdsb_left p,
.gd_score_box .gdsb_right p {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  transform: scaleY(2);
  text-shadow: -1px 7px 2px rgba(0, 0, 0, 0.6);
}
.gd_score_box .gdsb_center {
  width: 130px;
  margin-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gd_score_box .gdsb_center h2 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
