.league_container {
  width: 100%;
}

/* RIGHT */
.league_container .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.league_container .top span {
  color: var(--text) !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}
.league_container .top p {
  color: var(--text);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}

.league_container .wrapper {
  width: 100%;
  margin-top: 36px;
  max-height: 800px;
  overflow-y: auto !important;
  overflow-x: hidden;
}

/* SCHEDULE */
.league_container .schedule_box2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.league_container .schedule_box2 h1 {
  color: var(--text);
  font-size: 34px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
/* PAGINATION CSS in seprate file pagination.css */

/* SCORE CARD */
.league_container .score_card_container {
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .league_container .schedule_box2 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
