.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background: var(--secondaryBackground);
}

.width90 {
  width: 90%;
}

.signin .form-div {
  background: linear-gradient(180deg, #291c4a 0%, #080611 100%);
  padding: 60px;
}

.signin .form-div .title span {
  display: flex;
}

.signin .form-div .title h1 {
  color: var(--heading) !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 63.5px !important;
}

.signin .form-div .reset-password {
  margin-bottom: 24px;
}

.signin .form-div .reset-password p {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.signin .form-div .title p {
  color: var(--text);
  /* font-family: Poppins; */
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.signin .form-div .title h2 {
  color: var(--text);
  /* font-family: Poppins; */
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 24px;
}

.signin .login-form {
  height: auto;
  /* margin: 20px 0; */
  /* border: 1px #ddd solid; */
  /* padding: 20px; */
  /* box-shadow: var(--boxShadow); */
  /* border-radius: 2px; */
  width: 100%;
}

.signin .login-form .ant-input-affix-wrapper {
  border: 2px solid var(--text);
  border-radius: 12px;
  background-color: var(--secondaryBackground);
}

.signin .login-form .ant-input {
  /* background-color: var(--secondaryBackground) !important; */
}

/* .signin .login-form img {
  margin: 0 auto;
  display: flex;
} */
.signin .login-form .remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .signin .login-form .remember .ant-checkbox-span {
  color: var(--text) !important;
} */

.signin .login-form .remember p {
  margin: 0;
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}
.signin .form-div .login-form .signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin .form-div .login-form .signin-btn p {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.ant-checkbox-wrapper {
  color: #fff !important;
}

.signin .login-form button {
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  line-height: normal;
  border-radius: 20px;
}

.signin .form-div .create-account {
  margin-bottom: 60px;
}

.signin .form-div .create-account p {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text);
}

.signin .form-div .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signin .form-div .icons img {
  width: 21.709px;
  height: 20.733px;
  margin-right: 20.54px;
}

.signin .banner {
  display: flex;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  /* width: 100%; */
}

.signin .banner img {
  width: 100%;
  height: 100%;
}

.signin .banner h3 {
  color: var(--text);
  text-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.14);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-top: 383px;
  margin-left: 113px;
}
.signin .banner p {
  color: var(--text);
  color: #fff;
  text-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.12);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin-top: 103px;
  margin-left: 113px;
}
.highlight {
  color: var(--primary);
  cursor: pointer;
  font-weight: 900;
}

.signin .ant-checkbox-inner {
  background-color: transparent;
}

/* .signin .for-signup {
  text-align: center;
  width: 100%;
}
.signin .for-signup button {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border: 1px solid;
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
}

.signin .for-signup .signin-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
}
.signin .for-signup .signin-btn svg {
  margin-right: 10px;
  font-size: 20px;
}
.signin .for-signup .signin-gf {
  display: flex;
} */

/* forget password  */
/* .signin-forget {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.signin-forget .forget-inner {
  width: 40%;
  height: 200px;
}
.signin-forget img,
.signin-forget h4,
.signup img,
.signup h4 {
  margin-bottom: 20px;
}
.for-signup h4 {
  margin: 10px 0;
}

.signin-forget p {
  margin-top: 20px;
  letter-spacing: 1px;
}
.signin-forget button {
  width: 100px;
  display: block;
  margin: 20px auto 0 auto;
} */

/* signup */

/* .signup {
  margin: 30px auto;
} */

/* media queries */

/* @media (max-width: 770px) {

  .signin,
  .signin-forget .forget-inner,
  .signup {
    width: 60%;
  }
}

@media (max-width: 550px) {

  .signin,
  .signup,
  .signin-forget .forget-inner {
    width: 90%;
  }
} */
@media (max-width: 1024px) {
  .signin .banner h3 {
    font-size: 38px;
  }
}
@media (max-width: 992px) {
  .signin .form-div .icons {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .signin .form-div {
    padding: 60px 6vw;
  }
  .signin .banner h3 {
    font-size: 28px;
    margin-top: 100px;
    margin-left: 20px;
    line-height: 40px;
  }
  .signin .banner p {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    line-height: 20px;
  }
}
