.playoff-container {
  width: 100%;
}
.playoff-container .wrapper {
  width: 100%;
  margin-top: 36px;
  max-height: 800px;
  overflow-y: auto !important;
  overflow-x: auto;
}

.bracket-wrapper{
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: 40px;
}

.bracket-wrapper .super-bowl{
  width: 270px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}