.player_stats_container {
  width: 100%;
}

.player_stats_container .heading {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

/* DROPDOWN */
/* General Css */

/* STATS */
.player_stats_container .stats_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  max-height: 800px;
}

.player_stats_container .stats_table .ant-table {
  color: var(--text);
}
.player_stats_container .stats_table tr > td {
  border-bottom: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 28px;
  opacity: 0.4;
  padding-block: 28px;
}
.player_stats_container .stats_table .ant-table-thead > tr > th {
  background-color: var(--primaryPurple) !important;
  border-bottom: 1px solid var(--border) !important;
  border-top: 1px solid var(--border) !important;
}
.player_stats_container .stats_table .ant-table-thead > tr > th:first-child {
  border-top-left-radius: 0px !important;
  border-left: 1px solid var(--border) !important;
}
.player_stats_container .stats_table .ant-table-thead > tr > th:last-child {
  border-top-right-radius: 0px !important;
  border-right: 1px solid var(--border) !important;
}
