.pro_league_container {
  width: 100%;
}

.pro_league_container .breadcrumb {
  margin-bottom: 30px;
}

.pro_league_container .buttons_and_pagination {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
}

.pro_league_container .buttons_and_pagination .buttons_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.pro_league_container .buttons_and_pagination .buttons_group button {
  padding: 10px 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 2px solid var(--primary);
}
.pro_league_container .buttons_and_pagination .buttons_group button:hover {
  background-color: transparent !important;
}

.pro_league_container .league_details_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 27px;
  margin-top: 20px;
}

.pro_league_container .league_details_container .left,
.pro_league_container .league_details_container .right {
  width: 430px !important;
}
.pro_league_container .league_details_container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pro_league_container .league_details_container .center {
  width: calc(100% - 914px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 1800px) {
  .pro_league_container .league_details_container .center {
    width: calc(100% - 427px);
  }
  .pro_league_container .league_details_container {
    flex-wrap: wrap;
  }

  .pro_league_container .league_details_container .right {
    flex-direction: row;
    width: 100% !important;
  }

  /* POWER RANKING */
  .power_ranking_box {
    width: 50%;
  }
  .power_ranking_box .power_ranking_body {
    max-height: 517px !important;
  }

  /* PLAYER RANKING */
  .player_ranking_box {
    width: 50%;
  }
  .player_ranking_box .player_ranking_body {
    max-height: 517px !important;
  }
}

@media (max-width: 1360px) {
  .pro_league_container .league_details_container .left {
    order: 2;
    width: 100% !important;
  }
  .pro_league_container .league_details_container .center {
    width: 100%;
    order: 1;
  }
  .pro_league_container .league_details_container .right {
    order: 3;
  }

  /* LEAGUE STANDING */
  .league_standings_box .league_standings_body {
    max-height: 517px !important;
  }
}

@media (max-width: 1200px) {
  .pro_league_container .league_details_container .right {
    flex-direction: column;
  }

  /* POWER RANKING */
  .power_ranking_box {
    width: 100%;
  }

  /* PLAYER RANKING */
  .player_ranking_box {
    width: 100%;
  }
}

@media (max-width: 1440px) {
  .pro_league_container .buttons_and_pagination .buttons_group button {
    font-size: 15px;
  }
}
