.rule_book {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

/* LOBBY SECTION */
.rule_book .rulebook_container {
  width: 100%;
}
.rule_book .rulebook_container > h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.rule_book .rulebook_container .rulebook_content {
  width: 100%;
  position: relative;
}
.rule_book .rulebook_container .rulebook_content .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  cursor: pointer;
}

.rulebook_left_column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rulebook_left_column > div:nth-child(3) {
  flex: 1;
}

/* CARD 1 */
.rulebook_card1 {
  width: 100%;
  height: 300px;
  /* background: url('../../assets/login-pic-1.png') no-repeat center; */
  background: url('../../assets/home-box-bg.webp') no-repeat center;
  background-size: cover;
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  display: flex;
  align-items: flex-end;
}
.rulebook_card1 > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* background: rgb(176, 141, 25);
    background: linear-gradient(
      263deg,
      rgba(176, 141, 25, 1) 0%,
      rgba(255, 255, 255, 0.12368697478991597) 100%
    ); */
}
.rulebook_card1 > div h1 {
  font-size: 30px;
  font-weight: 700;
}

/* CARD 2 */
.rulebook_card2 {
  width: 100%;
  /* height: 120px; */
  background: url('../../assets/home-box-bg.webp') no-repeat center;
  background-size: cover;
  display: flex;
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
}

.rulebook_card2 .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  /* padding-block: 30px; */
  gap: 20px;
}

/* .rulebook_card2 .content > img {
    width: 100%;
    height: 200px;
  }  */
.rulebook_card2 .content > div h1 {
  font-size: 30px;
  font-weight: 700;
}
.rulebook_card2 .content > div h2 {
  font-size: 30px;
  font-weight: 400;
}
.rulebook_card2 .content > div p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
.rulebook_card2 .content > img {
  width: 70px;
  height: auto;
}

.rulebook_flip {
  rotate: 180deg;
}
.rulebook_flip .content {
  rotate: 180deg;
}

/* CARD 3 */
.rulebook_card3 {
  width: 100%;
  height: 535px;
  background: url('../../assets/roasterinfo.webp') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.rulebook_card3 .content {
  padding: 0px 0px 20px 40px;
}
.rulebook_card3 .content > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.rulebook_card3 .content > div img {
  width: 40px;
}
.rulebook_card3 .content > div h1 {
  font-size: 30px;
  font-weight: 700;
}
.rulebook_card3 .content > h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}

/* ROASTER INFO CSS */

.roasterinfomain {
  /* width: 100%;
 
    display: flex;
    align-items: center; */
}

.roasterinfomain .headersection {
  background-color: rgba(41, 28, 74, 0.9);
  /* background-blend-mode: multiply; */
  position: relative;
  z-index: 999;
  background-color: #331d7b;
}
.roasterinfomain .headersectionBg {
  filter: opacity(0.2);
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.roasterinfomain .headersection .headersectiontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border-radius:16px; */
  overflow: auto;
  /* background-color:var(--secondaryPurple); */
  border: 6px solid rgba(119, 49, 216, 0.4);

  /* opacity: 0.6; */
  justify-content: space-between;

  /* opacity: none; */
}

.roasterinfomain .headersection .headersectiontext > p {
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.roasterinfomain .headersection .headersectiontext .ant-btn {
  background: #612dae;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px;
  width: 141px;
  height: 48px;
  border-radius: 16px;
}

/* header section end here */

.roasterinfomain .horizontal-line {
  border: none;
  border-top: 5px solid white;
  margin-top: 20px;
}

.roasterinfomain .ant-tabs .ant-tabs-tab {
  width: 314px;

  /* transform: translate(242.17px, 78.5839px); */

  /* opacity: 0.12; */
  /* filter: opacity(0.2); */
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
}

/* Active squad css */

.activesquad {
  /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.activesquad > h2 {
  color: var(--text);
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.activesquad > h2 > span {
  font-weight: 700;
}

.activesquad > h3 {
  color: var(--text);
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  font-style: italic;
}

.activesquad > p {
  color: var(--text);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.activesquad > div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.activesquad > div > img {
  width: 30%;
  margin: auto;
}

.practicesquad {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.practicesquad > h2 {
  color: var(--text);
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.practicesquad > h2 > span {
  font-weight: 700;
}

.practicesquad > h2 > p {
  color: var(--text);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}

.practicesquad > div > img {
  width: 600px;
  margin: auto;
  height: 90%;
}

.playerinfo > div > img {
  width: 50%;
  /* margin: auto;
    height: 90%; */
}

.practicesquad > div .practicb {
  width: 30%;
  height: 30%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  justify-items: center;
  position: relative;
  left: 40%;
  /* background: url('../../assets/practice1.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%; */

  bottom: 30%;
}

.playerinfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.playerinfo > h2 {
  color: var(--text);
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.playerinfo > h2 > span {
  font-weight: 700;
}

.playerinfo > h2 > p {
  color: var(--text);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
/* 
  .playerinfo > div >img {
    width: 600px;
    margin: auto;
    height: 90%;
  } */

.playerinfo > div > img {
  width: 80%;
  border: 2px solid white;
  /* margin: auto;
    height: 90%; */
}

.playerinfo > div .defensepic {
  width: 60%;
  position: relative;
  left: 20%;
}

.playerinfo > div .formations {
  width: 30%;
  /* height: 60%; */
  position: relative;
  top: 3%;
  margin: auto;
  /* right: 30%; */
  right: 50%;
}

.salarycapinfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.salarycapinfo > h2 {
  color: var(--text);
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.salarycapinfo > h2 > span {
  font-weight: 700;
}

.salarycapinfo > h2 > p {
  color: var(--text);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
/* 
  .playerinfo > div >img {
    width: 600px;
    margin: auto;
    height: 90%;
  } */

.salarycapinfo > div > img {
  width: 600px;
  border: 2px solid white;
  /* margin: auto;
    height: 90%; */
}

@media (max-width: 1500px) {
  .practicesquad {
    flex-direction: column;
  }

  .practicesquad > div .practicb {
    left: 0%;
    bottom: 0%;
  }

  .activesquad {
    flex-direction: column;
  }

  .playerinfo {
    flex-direction: column;
  }

  .salarycapinfo {
    flex-direction: column;
  }
}

/* ROASTER CSS END HERE */
/* 
  GM RATING CSS START HERE  */

.gmratingmain .headersection {
  background-color: rgba(41, 28, 74, 0.9);
  /* background-blend-mode: multiply; */
  position: relative;
  z-index: 999;
  background-color: #331d7b;
}
.gmratingmain .headersectionBg {
  filter: opacity(0.2);
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.gmratingmain .headersection .headersectiontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border-radius:16px; */
  overflow: auto;
  /* background-color:var(--secondaryPurple); */
  border: 6px solid rgba(119, 49, 216, 0.4);

  /* opacity: 0.6; */
  justify-content: space-between;

  /* opacity: none; */
}

.gmratingmain .headersection .headersectiontext > p {
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.gmratingmain .headersection .headersectiontext > p > span {
  font-weight: 400;
}

.gmratingmain .headersection .headersectiontext > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.gmratingmain .headersection .headersectiontext .ant-btn {
  background: #612dae;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px;
  width: 141px;
  height: 48px;
  border-radius: 16px;
}

.gmratinginfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gmratinginfo > div > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.gmratinginfo > div > h2 {
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.gmratinginfo > div > h2 > p {
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.gmratingmain .horizontal-line {
  border: none;
  border-top: 5px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gmratingmain .gmimg {
  width: 100%;
  height: 100%;
}

@media (max-width: 1500px) {
  .gmratinginfo {
    flex-direction: column;
  }
}

/* GM RATING CSS END HERE  */

/* SAM BREAKDOWN CSS STARTS HERE  */

.sampointsbreakdownmain .headersection {
  background-color: rgba(41, 28, 74, 0.9);
  /* background-blend-mode: multiply; */
  position: relative;
  z-index: 999;
  background-color: #331d7b;
}
.sampointsbreakdownmain .headersectionBg {
  filter: opacity(0.2);
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.sampointsbreakdownmain .headersection .headersectiontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border-radius:16px; */
  overflow: auto;
  /* background-color:var(--secondaryPurple); */
  border: 6px solid rgba(119, 49, 216, 0.4);

  /* opacity: 0.6; */
  justify-content: space-between;

  /* opacity: none; */
}

.sampointsbreakdownmain .headersection .headersectiontext > p {
  font-size: 44px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.sampointsbreakdownmain .headersection .headersectiontext > p > span {
  font-weight: 400;
}

.sampointsbreakdownmain .headersection .headersectiontext > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

.sampointsbreakdownmain .headersection .headersectiontext .ant-btn {
  background: #612dae;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px;
  width: 141px;
  height: 48px;
  border-radius: 16px;
}

.sambreakdowninfo > p {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  font-style: normal;
  margin-top: 20px;
}

.sambreakdowninfo > p > span {
  font-weight: 400;
  margin-left: 10px;
}

.sambreakdowninfo .payscaleclass {
  display: flex;
  flex-direction: row;
  gap: 650px;
  margin-top: 50px;
}

.sambreakdowninfo .payscaleclass .rookiescale {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: rgb(39, 172, 213);
  text-decoration: underline;
  font-style: normal;
}

/* .sambreakdowninfo .payscaleclass .rookiescale  .paypic {
  margin-top: 20px;
  width: 300px;
  padding-top: 20px;
} */

.sambreakdowninfo .payscaleclass .paysacalelogo {
  width: 221px;
  height: 221px;
}

/* SAM BREAKDOWN CSS END HERE  */

/* REWARD CSS START HERE  */

.stadiumrewards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stadiumrewards .stadiuminfo > h2 {
  color: var(--text);
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.stadiumrewards .stadiuminfo > h2 > span {
  font-weight: 700;
}

.stadiumrewards .stadiuminfo > p {
  color: var(--text);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  width: 90%;
}

.stadiumrewards > img {
  width: 30%;
  margin: auto;
  height: 30%;
  border: 2px solid white;
}

.leaguerewards > h2 {
  color: var(--text);
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.leaguerewards > h2 > span {
  font-weight: 700;
}

.leaguerewards > ul {
  margin-bottom: 10px;
}
.leaguerewards > ul > li {
  list-style-type: none; /* Remove default disc bullet */
  margin-top: 15px;
  color: var(--text);
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-left: -35px;
}

.leaguerewards > ul > li::before {
  content: '-'; /* Use hyphen as marker */
  display: inline-block;
  width: 1em; /* Adjust spacing between marker and text */
}

.leaguerewards > h3 {
  color: var(--text);
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
  font-style: italic;
  width: 70%;
}

.roasterinfomain .initial-content > h2 {
  color: var(--text);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}

.roasterinfomain .initial-content > p {
  color: var(--text);
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

@media (max-width: 1500px) {
  .stadiumrewards {
    flex-direction: column;
  }
  .stadiumrewards > img {
    width: 70%;
    margin-top: 20px;
  }
}

/* REWARD CSS END HERE  */

/* REGULAR SEASON AND PLAYOFF CSS START HERE  */

.roasterinfomain .headersection .headersectiontext > p > span {
  font-size: 52px;
  font-weight: 400;
  line-height: normal;
  margin-left: 28px;
  color: rgb(255, 255, 255);
}

.roasterinfomain .headersection .headersectiontext > p > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-left: 60px;
  color: rgb(255, 255, 255);
}

/* REGULAR SEASON AND PLAYOFF CSS END HERE  */

/* SAM METRIC BREAKDOWN  CSS START HERE  */

.SammetricBreakdown {
  /* background: url('../../assets/bgplayer.webp') no-repeat center;
 
  
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  fill-opacity: 0.2;
  width: 80%;
  height: 80%; */
}

.SammetricBreakdown .headersection {
  background-color: rgba(41, 28, 74, 0.9);
  /* background-blend-mode: multiply; */
  position: relative;
  z-index: 999;
  background-color: #331d7b;
}
.SammetricBreakdown .headersectionBg {
  filter: opacity(0.2);
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.SammetricBreakdown .headersection .headersectiontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border-radius:16px; */
  overflow: auto;
  /* background-color:var(--secondaryPurple); */
  border: 6px solid rgba(119, 49, 216, 0.4);

  /* opacity: 0.6; */
  justify-content: space-between;

  /* opacity: none; */
}

.SammetricBreakdown .headersection .headersectiontext .samimg > img {
  width: 100%;
}

.SammetricBreakdown .headersection .headersectiontext .samimg > p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
  position: relative;
  bottom: 25%;
  left: 20%;
}

.SammetricBreakdown .headersection .headersectiontext > p > span {
  font-weight: 400;
}

.SammetricBreakdown .headersection .headersectiontext > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.SammetricBreakdown .headersection .headersectiontext > h2 > span {
  font-size: 50px;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.SammetricBreakdown .headersection .headersectiontext .ant-btn {
  background: #612dae;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px;
  width: 141px;
  height: 48px;
  border-radius: 16px;
}

.SammetricBreakdown .horizontal-line {
  border: none;
  border-top: 5px solid white;
  margin-top: 20px;
}

.SammetricBreakdown .sambgback {
  background: url('../../assets/bgplayer.webp') no-repeat;
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  background-position: right;
  background-size: cover;
}

.SammetricBreakdown .sammetricinfo {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 90px;
  margin-top: 30px;
  padding: 20px;
}

.SammetricBreakdown .sammetricinfo .sampara > p {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  /* width: 50%; */
  /* width: 50%; */
}

.SammetricBreakdown .sammetricinfo .sampara > p > span {
  font-weight: 400;
}

.SammetricBreakdown .sammetricinfo .sambox {
  width: 100%;

  /* transform: translate(242.17px, 78.5839px); */

  /* opacity: 0.12; */
  /* filter: opacity(0.2); */
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  justify-content: center; */
}

.SammetricBreakdown .sammetricinfo .sambox > h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.SammetricBreakdown .sammetricinfo .sambox > h2 > span {
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.SammetricBreakdown .sammetricinfo .sambox .sammetricimg {
  width: 40%;
  height: 40%;
  position: relative;
  right: 40%;
  margin-bottom: 10px;
}

.SammetricBreakdown .mainsambox {
  /* display:'flex',gap:'30px',flexFlow:'row wrap'}} */
  display: flex;
  gap: 50px;
  flex-flow: column wrap;
  height: 100vh;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
}

.SammetricBreakdown .mainsambox .sampositions {
  width: 30%;

  /* transform: translate(242.17px, 78.5839px); */

  /* opacity: 0.12; */
  /* filter: opacity(0.2); */
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 20px 3px 20px;
}

.SammetricBreakdown .mainsambox .sampositions > p {
  font-size: 27px;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.SammetricBreakdown .mainsambox .sampositions > p > h1 {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
  margin-left: 60px;
}

.SammetricBreakdown .mainsambox .sampositions > span {
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
}

/* SAM METRIC BREAKDOWN  CSS END HERE  */


/* SAM METRIC POSITION CSS STARTS HERE */



.Sammetricposition .headersection {
  background-color: rgba(41, 28, 74, 0.9);
  /* background-blend-mode: multiply; */
  position: relative;
  z-index: 999;
  background-color: #331d7b;
}
.Sammetricposition .headersectionBg {
  filter: opacity(0.2);
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.Sammetricposition .headersection .headersectiontext {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  /* border-radius:16px; */
  overflow: auto;
  /* background-color:var(--secondaryPurple); */
  border: 6px solid rgba(119, 49, 216, 0.4);

  /* opacity: 0.6; */
  justify-content: space-between;

  /* opacity: none; */
}

.Sammetricposition .headersection .headersectiontext .samimg > img {
  width: 100%;
}



.Sammetricposition .headersection .headersectiontext > p > span {
  font-weight: 400;
}

.Sammetricposition .headersection .headersectiontext > h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);
}

.Sammetricposition .headersection .headersectiontext > h2 > span {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: rgb(255, 255, 255);
  position: relative;
  right: 20%;
  top: 20%;
}

.Sammetricposition .headersection .headersectiontext .ant-btn {
  background: #612dae;
  font-size: 25px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: none;
  padding: 4px;
  width: 141px;
  height: 48px;
  border-radius: 16px;
}

.Sammetricposition .horizontal-line {
  border: none;
  border-top: 5px solid white;
  margin-top: 20px;
}

.Sammetricposition .sambgback {
  background: url('../../assets/bgplayer.webp') no-repeat;
  background-color: rgba(41, 28, 74, 0.9);
  background-blend-mode: multiply;
  background-position: right;
  background-size: cover;
}


.Sammetricposition .sambgback  .samposmain {
  width: 50%;

  /* transform: translate(242.17px, 78.5839px); */

  /* opacity: 0.12; */
  /* filter: opacity(0.2); */
  background: url('../../assets/rosterbg.webp') no-repeat center;
  background-size: cover;
  /* display: flex; */
  background-color: rgba(41, 28, 74, 0.9);
  border:2px solid grey;
  background-blend-mode: multiply;
  margin-top: 20px;
  height: 13vh;
}


.Sammetricposition .sambgback  .samposmain .samposdesp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.Sammetricposition .sambgback  .samposmain .samposdesp > p {

  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: rgb(255, 255, 255);

}

.Sammetricposition .sambgback  .samposmain .samposdesp > p >span {
  
  font-size: 27px;
  font-weight: 700;
  line-height: normal;
  color: gold;

}

.Sammetricposition .sambgback  .samposmain .samposdesp > p .franchise {
  width: 40%;
  background: rgb(31, 4, 50);
  border:1px solid white;
  color: gold;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  top: 17px;
}

.Sammetricposition .sambgback  .scoringcolumn {
  font-size: 19px;
  font-weight:700;
  line-height: normal;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  padding: 5px 20px 5px 20px;
}

/* .Sammetricposition .sambgback  .scoringcolumn >p n */

.Sammetricposition .sambgback .scoringcolumn p:nth-child(1n) {
  width: 25%;
  
}

.Sammetricposition .sambgback .scoringcolumn p:nth-child(2n) {
  width: 10%;
}

.Sammetricposition .sambgback .scoringcolumn p:nth-child(3n) {

  width: 10%;
}


.Sammetricposition .sambgback .scoringcolumn p:nth-child(4n) {

  width: 10%;
}

.Sammetricposition .sambgback .scoringcolumn p:nth-child(5n) {

  width: 10%;
}

.Sammetricposition .sambgback .new-horizontal-line {
  border: none;
  border-top: 3px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Sammetricposition .sambgback .positiondetails > p {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
}

.Sammetricposition .sambgback .positiondetails .positiondetailsinfo {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  padding: 5px 20px 5px 20px;
}



.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(1n) {
  width: 25%;
  font-size: 17px;
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  color: rgb(255, 255, 255);
  /* margin-top: 10px; */
  
}

.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(2n) {
  width: 10%;
  text-align: center;
}

.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(3n) {

  width: 10%;
  color:#FFE871;
  text-align: center;
}


.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(4n) {

  width: 10%;
  text-align: center;
}

.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(5n) {

  width: 10%;
  text-align: center;
 
}

.Sammetricposition .sambgback .positiondetails .positiondetailsinfo p:nth-child(6n) {

font-weight: 700;
text-align: center;
 
}


/* SAM METRIC POSITION CSS END HERE */
