.standing_detail_container {
  width: 100%;
  padding: 40px 20px;
}

.standing_detail_container .heading {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.standing_detail_container .detail_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 45px 24px;
  border-radius: 16px;
  border: 1px solid var(--border);
}

.standing_detail_container .detail_container .image_box {
  width: 407px;
  height: 360px;
  overflow: hidden;
}
.standing_detail_container .detail_container .image_box .ant-image {
  width: 100%;
  height: auto;
}

.detail_container .detail_content_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.detail_container .detail_content_box h3 {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.detail_container .detail_content_box .detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detail_container .detail_content_box .detail .detail_row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.detail_container .detail_content_box .detail .detail_row .text1 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail_container .detail_content_box .detail .detail_row .text2 {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1;
}

/* Chart */
.standing_detail_container .chart_container {
  width: 100%;
  margin-top: 80px;
  border-radius: 16px;
  padding: 80px 40px 40px 40px;
  border: 1px solid var(--border);
  background-color: var(--primaryPurple);
}

@media (max-width: 1440px) {
  .standing_detail_container .detail_container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .detail_container .detail_content_box {
    width: 100%;
  }
  .standing_detail_container .detail_container .image_box {
    width: 28vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  .standing_detail_container {
    padding: 40px 0px;
  }
  .standing_detail_container .detail_container .image_box {
    width: 250px;
  }
  .detail_container .detail_content_box .detail .detail_row {
    flex-direction: column;
  }
  .standing_detail_container .chart_container {
    padding: 40px 10px 20px 10px;
    margin-top: 40px;
  }
  .standing_detail_container .chart_container canvas {
    height: 200px !important;
  }
}
