.team_trade_main .add-player {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
}

.team_trade_main .heading {
  color: white;
  font-size: 34px;
  font-weight: 800;
}

.team_trade_main .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.team_trade_main .add-player .header {
  margin-bottom: 30px;
}
.team_trade_main .header h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}
.team_trade_main .header .left h2 {
  margin-right: 10px;
}
.team_trade_main .header .right p {
  margin-right: 10px;
}

.team_trade_main .header .left {
  display: flex;
  min-width: 60%;
  align-items: center;
  flex-wrap: wrap;
}

.team_trade_main .add-player-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.team_trade_main .add-player-section p {
  color: white;
}

/* team schedule */
.team_trade_main .header .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.team_trade_main .pagination_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .team_trade_main .ant-pagination-options {
  border: none !important;
} */

.select_box_label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.select_box_label img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.select_box_label p {
  margin-top: 4px !important;
}

.team_select_box {
  min-width: 250px;
  float: right;
  margin-top: -38px;
}

.draft_pick_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 500px;
  overflow-y: auto;
}

.draftPickMainBox {
  border-radius: 16px;
  border: 1px solid var(--border);
  padding: 20px;
}
.draft_pick_row {
  width: 100%;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.draft_pick_row p {
  font-size: 14px;
}

@media (max-width: 600px) {
  .team_select_box {
    min-width: 100%;
    margin-top: 20px;
  }
}
