.total_payment_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.total_payment_container .color_text {
  color: var(--primary) !important;
}

.total_payment_container .heading {
  color: var(--text);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  /* margin-top: 30px; */
}

.total_payment_container .payment_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  overflow: hidden;
}
.total_payment_container .payment_card .top-div {
  display: flex;
  padding: 20px 15px;
  background: var(--secColor);
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.total_payment_container .payment_card .card-body {
  width: 100%;
  padding: 20px 15px;
}
.total_payment_container .payment_card .card-body .card_table {
  border: 1px solid var(--borderColor);
}
.total_payment_container .payment_card .card-body .card_table .table_row {
  padding: 8px 20px;
  border: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total_payment_container .payment_card .card-body .card_table .table_row p {
  /* width: 80%; */
}
.total_payment_container .payment_card .card-body .card_table .table_row .lead {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 10%;
}
.total_payment_container .payment_card .card-body .card_table .table_row .lead img {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  margin-right: 8px;
}
.total_payment_container .payment_card .card-body .card_table .table_row .lead p {
  opacity: 1;
  margin-bottom: 0 !important;
}

.total_payment_container .total_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid var(--borderColor);
  margin-top: -10px;
}
.total_payment_container .total_container p {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.total_payment_container .button_section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
