body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;
}

.swal-text {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  color: white !important;
  margin: 0;
}
/* p {
  margin: 0 !important;
} */
.empty {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.m-20 {
  margin: 20px 0;
}
.bordered {
  border: 1px solid rgba(110, 105, 128, 0.4);
}

.login-btn {
  background: transparent;
  border: 2px solid var(--white);
  padding: 10px 28px;
  height: auto;
  border-radius: 50px;
  color: var(--white);
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.signup-btn {
  background: var(--white);
  border: 2px solid var(--white);
  color: var(--backgroundGradient1);
}

.mobile {
  display: none;
}

@media (max-width: 800px) {
  .mobile {
    display: flex;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border);
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryPurple);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* HINT TEXT */
.hint_text {
  color: var(--text);
  margin-top: 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

/* WARNING TEXT */
.warning_text {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

/* TABLE ROW COLOR */
.odd-row {
  background-color: var(--primaryPurple) !important;
}
.even-row {
  background-color: transparent !important;
}

/* ------> START <------- */
/* DROPDOWN, PLAYER STATS PAGE, TRANSACTIONS PAGE */
.dropdown_container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.dropdown_container .select_box p {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
  min-height: 22px;
}
.dropdown_container .select_box .ant-select {
  height: 48px !important;
}
.dropdown_container .select_box .ant-select .ant-select-selector {
  height: 48px !important;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 12px;
}
.dropdown_container .now_btn {
  height: 48px;
  align-self: flex-end;
  border-radius: 20px;
  background-color: var(--primary);
  padding-inline: 40px;
  color: var(--text);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: 2px solid var(--primary);
}
.dropdown_container .now_btn:hover {
  background-color: transparent !important;
  color: var(--text);
  border: 2px solid var(--primary);
}
.dropdown_container .advance_btn {
  height: 48px;
  align-self: flex-end;
  padding-inline: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
@media (max-width: 1440px) {
  .dropdown_container {
    gap: 15px;
  }
  .dropdown_container .select_box .ant-select {
    height: 40px !important;
  }
  .dropdown_container .select_box .ant-select .ant-select-selector {
    height: 40px !important;
  }
  .dropdown_container .now_btn {
    height: 40px;
  }
  .dropdown_container .advance_btn {
    height: 40px;
  }
}
@media (max-width: 768px) {
  .dropdown_container {
    gap: 15px;
  }
  .dropdown_container .select_box .ant-select {
    height: 35px !important;
  }
  .dropdown_container .select_box .ant-select .ant-select-selector {
    height: 35px !important;
  }
  .dropdown_container .now_btn {
    height: 35px;
  }
  .dropdown_container .advance_btn {
    height: 35px;
  }
}
@media (max-width: 500px) {
  .dropdown_container .select_box {
    width: calc(50% - 15px) !important;
  }
  .dropdown_container .select_box .ant-select {
    width: 100% !important;
  }
  .dropdown_container .now_btn,
  .dropdown_container .advance_btn {
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  .dropdown_container {
    flex-direction: column !important;
  }
  .dropdown_container .select_box {
    width: calc(100%) !important;
  }
  .dropdown_container .now_btn,
  .dropdown_container .advance_btn {
    align-self: flex-start;
  }
}
/* -------> END <-------*/

/* ------> START <------- */
/* TABLE, TRANSACTIONS, AAV REPORT, ADP REPORT, DRAFT PCIKS PAGE*/
.main_table_container {
  width: 100%;
  overflow: hidden;
}
.main_table_container .header {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid var(--border);
  padding: 30px 60px;
  background-color: var(--primaryPurple);
}
.main_table_container .header h3 {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main_table_container .main_table {
  width: 100%;
  overflow-y: auto;
  max-height: 800px;
}
.main_table_container .ant-table {
  color: var(--text);
}
.main_table_container .ant-table-thead > tr > th {
  background-color: transparent !important;
  border: none !important;
  color: #918ba0 !important;
  padding-block: 20px;
}
.main_table_container tr > td {
  border-bottom: none !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 28px;
}
.main_table_container ul {
  margin: 0;
  padding-inline: 20px;
}
.main_table_container .ant-table .ant-table-tbody > tr > td:first-child {
  padding-left: 35px;
}
.main_table_container .main_table .second_table .ant-table-tbody > tr:first-child td {
  border-top: none !important;
}
.main_table_container .table_center_heading {
  color: var(--text);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 10px 16px;
  text-align: center;
}
.main_table_container .text_row {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.4;
  padding: 22px 20px;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .main_table_container .header h3 {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main_table_container .header {
    padding: 20px 20px;
  }
}
/* -------> END <-------*/

.ant-table-summary {
  background-color: transparent !important;
}
.ant-table-summary .ant-table-cell {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  padding-inline: 20px;
  border-top: 1px solid #fff;
}

/* calendar date cell render styling */
.calendar-date-box .date-box {
  width: 100%;
  height: -webkit-fill-available;
  color: var(--text);
  padding-left: 10px;
  font-size: 13px;
  font-weight: 400;
}
