body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #eaeaea;
}

.swal-text {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  margin: 0;
}
.empty {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.align-items-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.m-20 {
  margin: 20px 0;
}

.login-btn {
  background: transparent;
  border: 2px solid var(--white);
  padding: 10px 28px;
  height: auto;
  border-radius: 50px;
  color: var(--white);
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.signup-btn {
  background: var(--white);
  border: 2px solid var(--white);
  color: var(--backgroundGradient1);
}

.mobile {
  display: none;
}

@media (max-width: 800px) {
  .mobile {
    display: flex;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border);
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryPurple);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
