/* DEPTH MODAL */
.depth_modal {
  width: 700px !important;
}
.depth_modal .ant-modal-content {
  padding: 20px;
  border-radius: 16px !important;
  border: 1px solid var(--border) !important;
  background: var(
    --colors-theme-gradient,
    linear-gradient(180deg, #291c4a 0%, #080611 100%)
  ) !important;
}
.depth_modal .depth_modal_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.depth_modal .depth_modal_content .card_box {
  width: 100%;
}
.depth_modal .depth_modal_content .card_box .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.depth_modal .depth_modal_content .card_box h2 {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.depth_modal .depth_modal_content .card_box .content_body {
  border-radius: 16px 16px 0px 0px;
  border: 1px solid var(--border);
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;
}
.depth_modal .depth_modal_content .card_box .content_body .image_box {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.depth_modal .depth_modal_content .card_box .content_body .image_box img {
  height: 100%;
  width: auto;
}
.depth_modal .depth_modal_content .card_box .content_body .text1 {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.depth_modal .depth_modal_content .card_box .content_body .text2 {
  color: var(--text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}

.depth_modal .scroll_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 320px;
  overflow-y: auto;
}
/* .depth_modal .scroll_section .content_body{
  cursor: pointer !important;
} */

.depth_modal_spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.add_starter_button {
  width: 200px;
}
.add_starter_button:hover {
  color: var(--primary) !important;
}
