/* BUTTON */
.modal_button_text {
  color: var(--text);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.4;
}

/* CLOSE BUTTON */
.close_modal_button {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -25px;
  top: -20px;
  cursor: pointer;
}

.player_interface_modals {
  width: 850px !important;
}
.player_interface_modals .ant-modal-content {
  padding: 38px 33px !important;
  border-radius: 16px !important;
  border: 1px solid #289fc9 !important;
  background-color: rgba(48, 33, 93, 0.4) !important;
  backdrop-filter: blur(12px) !important;
}

/* BODY */
.player_interface_modals .modal_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.player_interface_modals .modal_header_heading {
  color: var(--text);
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}
.player_interface_modals .modal_body .main_heading {
  padding-left: 15px;
}
.player_interface_modals .modal_body .team_roster_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  height: 250px;
}
.player_interface_modals .modal_body .selected_row {
  padding-block: 8px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/* FOOTER */
.player_interface_modals .modal_footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.player_interface_modals .modal_footer button {
  padding-inline: 40px;
  height: 50px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid var(--primary);
  text-transform: uppercase;
}
.player_interface_modals .modal_footer .button_2 {
  background-color: #fff !important;
  color: var(--primary);
}

/* AUCTION PLAYER */
.player_interface_modals .auction_button_groups {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.player_interface_modals .auction_button_groups button {
  width: calc(50% - 10px);
  border-radius: 8px;
  border: 1px solid var(--colors-theme-border-color, rgba(110, 105, 128, 0.4));
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent !important;
  height: 45px;
}

/* CENTER CONTENT */
.player_interface_modals .center_content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  flex-direction: column;
  padding-block: 10px;
}
.player_interface_modals .center_content p {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

/* RELEASE PLAYER */
/* MOVE TO INJURED IR */
/* ACTIVATE FROM PRACTICE SQUAD */
/* MOVE TO PRACTICE SQUAD */
/* POACH PLAYER */
.player_interface_modals .release_player p:nth-of-type(1),
.player_interface_modals .move_to_injured p:nth-of-type(1),
.player_interface_modals .activate_from_practice_squad p:nth-of-type(1),
.player_interface_modals .poach_player p:nth-of-type(1),
.player_interface_modals .trade_player p:nth-of-type(1) {
  width: 68%;
}
.player_interface_modals .move_to_injured p:nth-of-type(2),
.player_interface_modals .activate_from_practice_squad p:nth-of-type(2),
.player_interface_modals .move_to_practice_squad p:nth-of-type(2),
.player_interface_modals .trade_player p:nth-of-type(2) {
  width: 60%;
}
/* MOVE TO PRACTICE SQUAD */
.player_interface_modals .move_to_practice_squad p:nth-of-type(1) {
  width: 80%;
}
/* POACH PLAYER */
.player_interface_modals .poach_player p:nth-of-type(2) {
  width: 64%;
}

/* TRADE PLAYER */
.player_interface_modals ._row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.player_interface_modals ._row p {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.player_interface_modals ._row p:nth-of-type(2) {
  margin-right: 50px;
}
.player_interface_modals ._row button {
  height: 50px;
  padding-inline: 40px;
  border-radius: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid var(--primary);
}
.player_interface_modals ._row button:hover {
  background-color: transparent !important;
}

@media (max-width: 1440px) {
  .player_interface_modals .modal_header_heading {
    font-size: 26px;
  }
}
@media (max-width: 900px) {
  /* CLOSE BUTTON */
  .close_modal_button {
    display: none;
  }
  /* HEADING */
  .player_interface_modals .modal_header_heading {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .player_interface_modals .ant-modal-content {
    padding: 38px 15px !important;
  }
  /* HEADING */
  .player_interface_modals .modal_header_heading {
    font-size: 20px !important;
    line-height: 1.5;
  }
  /* FOOTER */
  .player_interface_modals .modal_footer {
    flex-direction: column;
  }
  .player_interface_modals .modal_footer button {
    height: 40px;
    width: 100%;
  }
  /* AUCTION PLAYER */
  .player_interface_modals .auction_button_groups {
    flex-direction: column;
  }
  .player_interface_modals .auction_button_groups button {
    width: 100%;
  }
  /* RELEASE PLAYER */
  /* MOVE TO INJURED IR */
  /* ACTIVATE FROM PRACTICE SQUAD */
  /* MOVE TO PRACTICE SQUAD */
  /* POACH PLAYER */
  /* MOVE TO PRACTICE SQUAD */
  /* POACH PLAYER */
  .player_interface_modals .release_player p:nth-of-type(1),
  .player_interface_modals .move_to_injured p:nth-of-type(1),
  .player_interface_modals .activate_from_practice_squad p:nth-of-type(1),
  .player_interface_modals .poach_player p:nth-of-type(1),
  .player_interface_modals .move_to_practice_squad p:nth-of-type(1),
  .player_interface_modals .move_to_injured p:nth-of-type(2),
  .player_interface_modals .activate_from_practice_squad p:nth-of-type(2),
  .player_interface_modals .move_to_practice_squad p:nth-of-type(2),
  .player_interface_modals .poach_player p:nth-of-type(2),
  .player_interface_modals .trade_player p:nth-of-type(1),
  .player_interface_modals .trade_player p:nth-of-type(2) {
    width: 90%;
  }
  .player_interface_modals ._row button {
    height: 40px;
  }
}
